doctype html

html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Каталог
        link(rel='stylesheet' media='all' href='../assets/stylesheets/application.css')

    body

        .center-content

            .catalog-grid

                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title<a href='#' class='catalog-grid__link'>Плитка Восточная</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title <a href='#' class='catalog-grid__link'> Плитка Старый город</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title <a href='#' class='catalog-grid__link'> Плитка брусчатка 210х140</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


        .center-content

            .catalog-grid.catalog-grid--1-3

                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title <a href='#' class='catalog-grid__link'> Плитка Восточная</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title <a href='#' class='catalog-grid__link'> Плитка Старый город</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title <a href='#' class='catalog-grid__link'> Плитка брусчатка 210х140</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить




                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить




                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить




