doctype html

html(lang='ru')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Каталог
        link(rel='stylesheet' media='all' href='../assets/stylesheets/application.css')

    body

        .center-content

            .catalog-grid

                .catalog-grid__content
                    .catalog-grid__content-title Заголовок 1

                    ul
                        li 4 колонки
                        li Средняя величина заголовка


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.js-item-title<a href='#' class='catalog-grid__link'>Плитка Восточная</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.js-item-title <a href='#' class='catalog-grid__link'> Плитка Старый город</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.js-item-title <a href='#' class='catalog-grid__link'> Плитка брусчатка 210х140</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.js-item-title <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить



                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.js-item-title<a href='#' class='catalog-grid__link'>Плитка Восточная</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.js-item-title <a href='#' class='catalog-grid__link'> Плитка Старый город</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.js-item-title <a href='#' class='catalog-grid__link'> Плитка брусчатка 210х140</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.js-item-title <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить








        .center-content

            .catalog-grid

                .catalog-grid__content
                    .catalog-grid__content-title Заголовок 2

                    ul
                        li 4 колонки
                        li Большая величина заголовка


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--big.js-item-title-big <a href='#' class='catalog-grid__link'>Плитка Восточная</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--big.js-item-title-big <a href='#' class='catalog-grid__link'> Плитка Старый город</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--big.js-item-title-big <a href='#' class='catalog-grid__link'> Плитка брусчатка 210х140</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--big.js-item-title-big <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить



                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--big.js-item-title-big <a href='#' class='catalog-grid__link'>Плитка Восточная</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--big.js-item-title-big <a href='#' class='catalog-grid__link'> Плитка Старый город</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--big.js-item-title-big <a href='#' class='catalog-grid__link'> Плитка брусчатка 210х140</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--big.js-item-title-big <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить















        .center-content

            .catalog-grid

                .catalog-grid__content
                    .catalog-grid__content-title Заголовок 3

                    ul
                        li 4 колонки
                        li Средняя величина заголовка
                        li Весь блок является ссылкой


                .catalog-grid__col
                    a.catalog-grid__box(href='#')
                        h4.catalog-grid__title.js-item-title Плитка Восточная

                        .catalog-grid__image
                            img(src='../assets/img/1.png' alt='item')
                            .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            span.catalog-grid__link Купить


                .catalog-grid__col
                    a.catalog-grid__box(href='#')
                        h4.catalog-grid__title.js-item-title Плитка Восточная

                        .catalog-grid__image
                            img(src='../assets/img/1.png' alt='item')
                            .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            span.catalog-grid__link Купить


                .catalog-grid__col
                    a.catalog-grid__box(href='#')
                        h4.catalog-grid__title.js-item-title Плитка Восточная

                        .catalog-grid__image
                            img(src='../assets/img/1.png' alt='item')
                            .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            span.catalog-grid__link Купить


                .catalog-grid__col
                    a.catalog-grid__box(href='#')
                        h4.catalog-grid__title.js-item-title Плитка Восточная

                        .catalog-grid__image
                            img(src='../assets/img/1.png' alt='item')
                            .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            span.catalog-grid__link Купить



        .center-content

            .catalog-grid.catalog-grid--1-3

                .catalog-grid__content

                    h1.catalog-grid__content-title Заголовок 4

                    ul
                        li 3 колонки
                        li Максимальная величина заголовка

                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.js-item-title <a href='#' class='catalog-grid__link'> Плитка Восточная</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--max.js-item-title-max <a href='#' class='catalog-grid__link'> Плитка Старый город</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--max.js-item-title-max <a href='#' class='catalog-grid__link'> Плитка брусчатка 210х140</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400


                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить


                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--max.js-item-title-max <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить




                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--max.js-item-title-max <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить




                .catalog-grid__col
                    .catalog-grid__box

                        h4.catalog-grid__title.catalog-grid__title--max.js-item-title-max <a href='#' class='catalog-grid__link'> Плитка Веер</a>

                        .catalog-grid__image
                            a.catalog-grid__link(href='#')
                                img(src='../assets/img/1.png' alt='item')
                                .catalog-grid__image-gutter

                        .catalog-grid__description
                            span Марка прочности: M400
                            span Водопоглощение, не более: 5%
                            span Вес 1 шт., кг. : 3.6
                            span Вес 1 шт., кг. : 3.6

                        .catalog-grid__price
                            span Цена:
                            b 380
                            span Руб.
                            a(href='#') Купить




        script(src='../assets/js/vendor/jquery.js')
        script(src='../assets/js/vendor/jquery.equalHeight.min.js')
        script(src='../assets/js/components/titleHeight.js')
